body {
  margin: 0;
  color: #fff;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-image: linear-gradient(to bottom, #000000, #000000);
}

.content {
  display: flex;
  min-height: 100vh;
  line-height: 1.1;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.content h1 {
  font-size: 3.6rem;
  font-weight: 700;
}

.content p {
  font-size: 1.2rem;
  font-weight: 400;
  opacity: 0.5;
}


/* FOOTER CSS */
.app-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main-content{
  flex: 1;
}
.footer{
  width: 100%;
  background-color: #305e3a;
  color :#000000;
  text-align: center;
}
